    <footer id="foot">
        <div id="wrapper">
            <div class="address">
                <i class="fa fa-address-card fa-2x" aria-hidden="true"></i>
                <p>
                    Niki Nazemi
                    <br>c/o DCI
                    <br>Hüttenstr. 100
                    <br>40215 Düsseldorf
                    <br> Germany
                </p>
            </div>

            <div class="email">
                <i class="fa fa-at fa-2x" aria-hidden="true"></i>

                <p> niki.nazemi@dci.org
                </p>
            </div>

        </div>
    </footer>
 